h2 {
    font-size: 25px;
  }

h3 {
  margin-top: 10px;
  font-size: 50px;
  height: 100px;
  width: 150px;
  text-align: center;
  color: white;
  position: fixed;
  top: 10px;
  left: 30px;
  background: #0d7df5;
  font-weight: bold;
  border: 5px solid lightgray;
  display: grid;
  place-items: center;
}
  
  button {
    height: 50px;
    width: 100px;
    margin: 0 10px;
    background: #0d7df5;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid lightgray;
  }
  
  /* Center shapes */
  body {
    margin: 0px 0px 0px 0px;
    padding: 50px;
    height: 100vh;
    /*width: 0px;*/
    display: flex;
    /*justify-content: center; カウンターを中央に固定している設定 */
    align-items: center;
    flex-wrap: nowrap;
  }
  
  /* Set container and optional light gray border */
  .container {
    width: 250px;
    height: 400px;
    flex: 1;
    border: 5px solid lightgray;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1px;
  }
  #sousin {
    height: 100px;
    width: 200px;
    margin: 30px center;
    background: #0d7df5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid lightgray;
  }